doctype html
html(lang="en")
  head
    title Landing page
  body
    h1 "The future hme, of something awesome!"
    p Truffaut sriracha marfa hoodie, sartorial leggings tattooed chambray church-key. Cardigan slow-carb photo booth stumptown whatever. Hashtag tattooed meggings shabby chic, sriracha master cleanse kickstarter austin fixie readymade beard green juice cred.
    
